@{
    ViewBag.Title = "Home Page";
}

<form action="/Home/CreateCheckoutSession" method="post">
    <input type="text" id="TextBox1" placeholder="amount" name="amount"><br />
    <button type="submit">Checkout</button>

</form>